{% extends 'base.html' %} {% block content %}

<h1>About Finch Collector</h1>
<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt itaque,
  quas iste asperiores dignissimos soluta expedita laudantium laborum! Autem
  dolorum velit laudantium totam. Ab, sint. Dolorum ratione facere in! Est?
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam, porro.
  Corporis veritatis iusto rerum, repellendus, neque laudantium veniam velit at
  deleniti, est dolor nostrum fugiat reprehenderit? Rem nobis quas nostrum.
</p>

{% endblock %}
